body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color:#aaa
}
.container {
  flex: 1;
}
.onload,
.signin{
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer {
  width: 100%;
  height: 206px;
  top:20px
}
#image{
  max-width: 100%;
}
/* 元素默认是隐藏的 */
#slike-0, .lika-0{
  display:none; 
}

.father:hover #slike-0 .like-0{
  display:inline-block;
}