<div class="col-2.5">
  <div class='card bg-white'>
    <div class='card-header'>
      Markdown 语法参考
    </div>
    <div class='card-body'>
      <tt>### 单行的标题</tt></br>
      <tt>**粗体**</tt></br>
      <tt>`console.log('行内代码')`</tt></br>
      <tt>```js\n code \n```</tt> 标记代码块</li></br>
      <tt>[内容](链接)</tt></br>
      <tt>![文字说明](图片链接)</tt></br>
      <span>
        <a href='https://segmentfault.com/markdown' target='_blank'>Markdown 文档</a>
      </span>
    </div>
  </div>
  <div class='card  bg-white  mt-2'>
    <div class='card-header'>
      话题发布指南
    </div>
    <div class='card-body'>
      <tt>尽量把话题要点浓缩到标题里</tt></br>
      <tt>代码含义和报错可在
        <a href="http://segmentfault.com/t/node.js">SegmentFault</a> 提问</tt>
    </div>
  </div>
</div>