<!-- // $.each(msg.topics, function (index, item) {
  //   var html =
  //     '<div class="list-group-item list-group-item-action" id="$(this).id"><div class="media"><img class="mr-3" src="/images/3118295.jpg" width="40" height="40" alt="Generic placeholder image"><div class="media-body align-self-center d-flex  justify-content-between"><div>' +
  //     item.replies + '<small>' + item.clicks + '</small>' +
  //     '<span class="badge badge-secondary">' + item.tabValue +
  //     '</span><a href="/topic/<%=item.id%>">' + item.title +
  //     '</a></div><div class="col-2 d-flex  justify-content-between">' +
  //     '<img src="/images/7081645.png" width="30" height="30" alt="Generic placeholder image"><small class="align-self-center">' +
  //     time[index] + '</small></div></div></div></div>';
  //   $('#text').append(html);

    // $('#text').append(
    //   '<div class="list-group-item list-group-item-action" id="$(this).id"><div class="media"><img class="mr-3" src="/images/3118295.jpg" width="40" height="40" alt="Generic placeholder image"><div class="media-body align-self-center d-flex  justify-content-between"><div>' +
    //   item.replies+ '<small>' + item.clicks + '</small>'
    // );

    // $('#text').append('<span class="badge badge-secondary">' + item.tabValue +
    //   '</span><a href="/topic/<%=item.id%>">' + item.title);
    // $('#text').append('</a></div><div class="col-2 d-flex  justify-content-between">');
    // $('#text').append(
    //   '<img src="/images/7081645.png" width="30" height="30" alt="Generic placeholder image"><small class="align-self-center">' +
    //   time[index] + '</small></div></div></div></div>'
    // );
  // }); -->