<div id="footer" class="bg-white pl-5 py-3 ">
    <small>
        <a href="#">RSS</a>|
        <a href="#">源码地址</a>
    </small>
    <br>
    <p>CNode 社区为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
    <p>服务器赞助商为
        <a href="#">
            <img src="/images/FuipEaM9bv" width="100" height="20">
        </a> 存储赞助商为
        <a href="#">
            <img src="/images/Fg0jtDicTq" width="120" height="40"> </a> ，由
        <a href="#">
            <img src="/images/FpMZk31PDy"> </a>提供应用性能服务。 </p>
    <p>新手搭建 Node.js 服务器，推荐使用无需备案的
        <a href="#">DigitalOcean(https://www.digitalocean.com/)</a>
    </p>
</div>

</html>