<%- include header%>
  <div class="container onload" id="context">
    <form class="col-sm-offset-3 col-sm-4 " role="form" method="post" onsubmit="return false">
      <fieldset>
        <legend></legend>
        <div class="panel panel-default ">
          <div class="panel-heading text-center mb-3">
            <h3 class="tc text-primary font-weight-bold">登录</h3>
          </div>
          <div class="panel-body m15">
              <div class="form-group">
                  <div class="input-group">
                      <span class="input-group-addon">
                          <%-octicons.person.toSVG()%>    
                      </span>
                      <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名" required>
                  </div>
              </div>
              <div class="form-group">
                  <div class="input-group">
                      <span class="input-group-addon">
                              <%-octicons.key.toSVG()%>
                      </span>
                      <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码" required>
                  </div>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block mb-3" id="onload0">登录</button>
                  <div class="alert alert-success success" role="alert" style="display:none">
                      登陆成功！
                    </div>
                    <div class="alert alert-danger error" role="alert" style="display:none">
                      用户名或密码不正确!
                    </div>
              </div>    
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <script>
    $(document).ready(function () {
      $("#onload0").click(function () {
        // $('#text').load('/demo')
        var username = $("#username").val();
        var password = $("#password").val();
        var data = {
          uname: username,
          upwd: password
        };
        $.ajax({
          url: '/onload',
          type: 'post',
          contentType: "application/json",
          data: JSON.stringify(data),
          success: function (data) {
            if (data.result === 'true') {
              $(".success").show();
              setTimeout(() => {
                window.location.href = "/"
              }, 1000)
            } else {
              $(".error").show();
              setTimeout(() => {
                $(".error").hide();
              }, 10000)
            }
          }
        });
      });
    });
  </script>

  