<%- include header%>
  <div class="container onload" id="context">
    <form class="col-sm-offset-3 col-sm-6 " role="form" method="post" onsubmit="return false">
      <fieldset>
        <legend></legend>
        <div class="panel panel-default ">
          <div class="panel-heading text-center mb-3">
            <h3 class="tc text-primary font-weight-bold">登录</h3>
          </div>
          <div class="panel-body m15 bg-white p-5 rounded">
            <div class="form-group row">
              <label for="inputusername" class="col-3 col-form-label text-right">用户名</label>
              <div class="col-8">
                <input type="text" class="form-control" id="username" placeholder="请输入用户名">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputpassword" class="col-3 col-form-label text-right">密码</label>
              <div class="col-8">
                <input type="password" class="form-control" id="password" placeholder="请输入密码">
              </div>
            </div>
            <div class="form-group row ">
              <label class="col-3 col-form-label"></label>
              <div class="col-8">
                <button type="submit" class="btn btn-primary btn-block" id="onload0">登录</button>
              </div>
            </div>          
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <script>
    $(document).ready(function () {
      $("#onload0").click(function () {
        // $('#text').load('/demo')
        var username = $("#username").val();
        var password = $("#password").val();
        var data = {
          uname: username,
          upwd: password
        };
        $.ajax({
          url: '/onload',
          type: 'post',
          contentType: "application/json",
          data: JSON.stringify(data),
          success: function (data, status) {
            if (status == 'success') {
              $("#name").html(username + "登陆成功");
              setTimeout(() => {
                window.location.href = "/"
              }, 1000)
            }
          },
          error: function (data, status) {
            if (status == 'error') {
              $("#name").html("用户名或密码错误");
            }
          }
        });
      });
    });
  </script>

  <%- include footer%>